[submodule "pod-ilmoraunio-conftest"]
	path = pod-ilmoraunio-conftest
	url = git@github.com:ilmoraunio/pod-ilmoraunio-conftest.git
[submodule "pod-ilmoraunio-conjtest"]
	path = pod-ilmoraunio-conjtest
	url = git@github.com:ilmoraunio/pod-ilmoraunio-conjtest.git
