{:paths ["bb-src"]
 :deps {ilmoraunio/cljconf {:local/root "."}}
 :pods {pod-ilmoraunio-conftest-clj {:path "pod-ilmoraunio-conftest-clj/pod-ilmoraunio-conftest-clj"
                                     :cache false}}
 :tasks
 {:requires ([cljconf.bb.main :as main])
  test (main/test *command-line-args*)}}
