{:paths ["src" "pod-ilmoraunio-conjtest/src" "resources/"]
 :deps {org.conjtest/conjtest-clj {:mvn/version "0.4.0"
                                   #_#_:local/root "../conjtest-clj"}}
 :pods {ilmoraunio/conftest {:version "0.1.0"}}
 #_#_:pods {ilmoraunio/conftest {:path "pod-ilmoraunio-conftest/pod-ilmoraunio-conftest"
                                 :cache false}}
 :tasks
 {test
  {:requires ([conjtest.bb.main :as main])
   :task (main/test *command-line-args*)}
  parse
  {:requires ([conjtest.bb.main :as main])
   :task (main/parse *command-line-args*)}}}
