{:paths ["src" "pod-ilmoraunio-conjtest/src"]
 :deps {org.conjtest/conjtest-clj {:mvn/version "0.2.0"}}
 :pods {ilmoraunio/conftest {:version "0.0.2"}}
 :tasks
 {test:bb {:extra-paths ["test" "test-resources"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :task (exec 'cognitect.test-runner.api/test)
           :exec-args {:dirs ["test"]}
           :org.babashka/cli {:coerce {:nses [:symbol]
                                       :vars [:symbol]}}}}}

