{:paths ["."]
 :deps {ilmoraunio/conjtest {:local/root "../.."}} ; TODO: publish
 :pods {ilmoraunio/conftest {:version "0.0.2"}}
 :tasks
 {:requires ([main])
  test (apply main/test *command-line-args*)}}
