{:paths ["."]
 :deps {ilmoraunio/cljconf {:local/root "../.."}} ; TODO: publish
 :pods {pod-ilmoraunio-cljconf {:path "pod-ilmoraunio-cljconf/pod-ilmoraunio-cljconf" ; TODO: publish
                                :cache false}}
 :tasks
 {:requires ([main])
  test (apply main/test *command-line-args*)}}
